@import '~node_modules/modern-normalize/modern-normalize.css';

textarea:focus,
input:focus {
    outline: none;
}
.visually-hidden{
    visibility: hidden;
    display: none;
    opacity: 0;
}
body{
    position: relative;
}
.container{
    // display: flex;
    max-width: 1400px;  
    margin: 0 auto;
    padding: 0 15px;
}